body {
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: hotpink
}
hr {
    border-color: hotpink;
    border-width: 2px;
}

.nav-link {
    cursor: pointer
}

/*
force to match btn-secondary look
*/
.important-btn-secondary {
    color: #fff;
    background-color: #aea79f;
    border-color: #aea79f;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.important-btn-secondary:hover {
    color: #fff;
    background-color: #9c948a;
    border-color: #978e83;
}
/* Wider tooltips */
.tooltip-inner {
    max-width: 400px;
}

table div.cell-markdown p {
    font-size: 13px;
    vertical-align: middle;
    display: inline;
}