[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
sparqlwrapper = "*"
pandas = "*"
requests = "*"
seaborn = "*"
matplotlib = "*"
lxml = "*"
fastcluster = "*"
aioredis = ">=2.0.0a1"
aiohttp = "*"
scipy = "*"

[dev-packages]

[pipenv]
allow_prereleases = true
