[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
dash = "*"
redis = "*"
dash-bootstrap-components = "<1"
meinheld = "*"
gunicorn = "*"
flask-compress = "*"
pandas = "*"

[dev-packages]
pylint = "*"
