[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
dash = "*"
pandas = "*"
sparqlwrapper = "*"
redis = "*"
dash-bootstrap-components = "*"
requests = "*"
seaborn = "*"
lxml = "*"

[dev-packages]
pylint = "*"
